.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.balance-div {
    width: 90%;
    min-height: 190px;
}

.chart-div {
    width: 100%;
    min-height: 190px;
}

.transaction-div {
    margin-top: 10px;
    width: 100%;
}

.btn {
    position: relative;
    bottom: 230px;
    right: -140px;
    width: 10%;
    border-radius: 50%;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 3);
}