    .inc-exp-container {
        height: 50%;
        letter-spacing: 2px;
        padding-top: 5px;
    }

    .income {
        color: white;
        padding: 10px;
        background-color: #389760;
        border-radius: 5px;
        min-width: 90%;
        margin: 5px;
        text-shadow: 2px 2px #4b4b4b;
        text-transform: uppercase;
        font-weight: 600;
        border: none;
    }

    .expense {
        color: white;
        padding: 10px;
        background-color: #ec9b4e;
        border-radius: 5px;
        min-width: 90%;
        margin: 5px;
        text-shadow: 2px 2px #4b4b4b;
        text-transform: uppercase;
    }

    span {
        float: right;
        font-weight: 600;
    }